html {
    font-family: 'Montserrat', sans-serif;
    background: url('../assets/bg.jpg');
    background-repeat: no-repeat;
}

#app {
    display: flex;
    background-color: #FFF;
    flex-direction: column;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
}

/**Área dos pontos **/

.scores {
    display: flex;
}

#player img,
#monster img {
    height: 5.2em;
}

#player,
#monster {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.life-bar {
    width: 50%;
    margin-bottom: 1px;
    height: 20px;
    border: 1px solid black;
}

.life-bar span {
    position: relative;
    ;
    top: -20px;
    left: calc(50% - 30px);
    font-size: 8pt;
    text-align: center;
    font-weight: bold;
    color: black;
    vertical-align: middle;
}


.life-inner {
    background-color: green;
    /* width:100%; */
    height: 100%;

}

.mana-bar {
    width: 50%;
    border: 1px solid black;
    height: 20px;
    line-height: 20px;
}

.mana-inner {
    background-color: blue;
    width: 100%;
    height: 100%;


}

.mana-bar span {
    position: relative;
    ;
    top: -20px;
    left: calc(50% - 30px);
    font-size: 8pt;
    text-align: center;
    font-weight: bold;
    color: black;
    vertical-align: middle;
}

.life-bar .danger {
    background-color: red;
}

h1 {
    font-weight: 300;
}

/** Área de Resultado **/
.result {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    line-height: 50px;
    vertical-align: center;
    font-weight: 600;
    text-align: center;

}

.result .lose {
    color: red;
}

.result .win {
    color: green;
}

/*Área dos botões*/
.btnOptions {
    display: flex;
    justify-content: center;
}

.buttons h2 {
    display: flex;
    justify-content: center;
}



.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;

}

.btn {
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1em;
    border: none;
    color: white;
}

.new-game {
    display: block;
    margin: 0 auto;
    background-color: purple;

}

.new-game:hover {
    background-color: rgb(90, 0, 90);

}

.attack:hover {
    background-color: rgb(200, 0, 0);
}

.attack {
    background-color: red;
}

.mana:hover {
    background-color: rgb(0, 0, 180);
}

.mana {
    background-color: rgb(0, 0, 200);
}

.special-attack {
    background-color: orange;
}

.special-attack:hover {
    background-color: rgb(255, 150, 0);
}

.heal {
    background-color: green;
}

.heal:hover {
    background-color: rgb(50, 120, 0)
}

.give-up {
    background-color: black;
}

.give-up:hover {
    background-color: rgba(10, 10, 10)
}

/**Botão de Inventory de magia**/

.mage-options {
    display: flex;
    justify-content: center;
}

.mage-options button:hover {
    cursor: pointer;
}

.mage-options button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: indigo;
    color: white;
    font-weight: 600;
    height: auto;
    min-width: 100px;
    font-size: 12pt;
    text-align: center;
    padding-top: -5px;
}

.mage-options button span {
    display: block;
    margin-top: -5px;

}

.mage-options button img {
    display: inline-block;
    margin: 2px;
    margin-left: -5px;
    margin-top: -2px;
}

/**Logs **/
.logs h2 {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.logs .logs-details {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logs .logs-details li {
    display: flex;
    justify-content: center;
    margin: 4px 0px;
    padding: 3px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 3px;
}

.player {
    background-color: #4253afaa;
    color: #fff;
}

.monster {
    background-color: #e51c23aa;
    color: #fff;
}

.info {
    background-color: yellow;
    color: black;
}